<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ClientController</servlet-name>
        <servlet-class>controller.ClientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormSoinsController</servlet-name>
        <servlet-class>controller.FormSoinsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterController</servlet-name>
        <servlet-class>controller.AjouterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormTraitementController</servlet-name>
        <servlet-class>controller.FormTraitementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormSituationDentController</servlet-name>
        <servlet-class>controller.FormSituationDentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementController</servlet-name>
        <servlet-class>controller.TraitementController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientController</servlet-name>
        <url-pattern>/ClientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormSoinsController</servlet-name>
        <url-pattern>/FormSoinsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterController</servlet-name>
        <url-pattern>/AjouterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormTraitementController</servlet-name>
        <url-pattern>/FormTraitementController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormSituationDentController</servlet-name>
        <url-pattern>/FormSituationDentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementController</servlet-name>
        <url-pattern>/TraitementController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
